In [2]:
# !pip install yahooquery

In [4]:
from yahooquery import search

# Replace 'COMPANY_NAME_TO_CHECK' with the specific company name you want to check
company_name_to_check = ' Tata Power Company'

try:
    # Use Yahoo Finance search to get stock symbols based on the company name
    result = search(company_name_to_check)

    if result['quotes']:
        # Take the first stock symbol from the search results
        stock_symbol = result['quotes'][0]['symbol']
        print(f"Stock symbol for {company_name_to_check}: {stock_symbol}")
    else:
        # Handle the case where no stock symbol is found
        print(f"No stock symbol found for {company_name_to_check}")
except Exception as e:
    print(f"Error fetching stock symbol for {company_name_to_check}: {e}")

Stock symbol for  Tata Power Company: TATAPOWER.NS

In [2]:
stock_symbol

'TIMKEN.NS'

In [6]:
import yfinance as yf

# Specify the stock symbol and date range
stock_symbol = "TATAPOWER.BO"
start_date = "2023-01-01"
end_date = "2023-12-31"

# Fetch stock data with one-day interval
stock_data_daily = yf.download(stock_symbol, start=start_date, end=end_date, interval='1d')

# Print the stock data
stock_data_daily

D:\anaconda\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-02,208.699997,212.199997,208.149994,211.750000,209.795685,1006268
2023-01-03,212.199997,213.050003,210.000000,211.250000,209.300293,416889
2023-01-04,211.000000,211.000000,205.850006,208.100006,206.179382,719250
2023-01-05,209.800003,209.800003,205.250000,207.649994,205.733521,912312
2023-01-06,207.800003,208.750000,204.100006,205.399994,203.504288,1172834
...,...,...,...,...,...,...
2023-12-22,331.149994,332.000000,323.600006,326.600006,326.600006,706059
2023-12-26,328.899994,331.350006,324.799988,325.149994,325.149994,1476806
2023-12-27,327.350006,330.000000,321.750000,324.950012,324.950012,646687
2023-12-28,326.049988,331.000000,323.950012,329.600006,329.600006,1815094
2023-12-29,330.399994,335.850006,326.100006,332.049988,332.049988,1445263

In [2]:
import yfinance as yf
import pandas as pd

# Replace 'RELIANCE.BSE' with the symbol you are interested in
symbol = 'RELIANCE.BO'

# Download historical data as a pandas DataFrame
data = yf.download(symbol, period='max')

# Reset the index to have the 'Date' as a column
df = data.reset_index()

# Display the DataFrame
print(df.head())

D:\anaconda\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

[*********************100%%**********************]  1 of 1 completed

        Date       Open       High        Low      Close  Adj Close  Volume
0 2000-01-04  67.224998  67.224998  67.224998  67.224998  35.767727    6400
1 2000-01-05  68.000000  68.000000  68.000000  68.000000  36.180061  418568
2 2000-01-12  72.750000  72.750000  72.750000  72.750000  38.707340    4200
3 2000-02-07  86.787498  86.787498  86.787498  86.787498  46.176140    8000
4 2000-02-14  90.000000  90.000000  90.000000  90.000000  47.885376    2000

In [5]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-04,67.224998,67.224998,67.224998,67.224998,35.767727,6400
1,2000-01-05,68.000000,68.000000,68.000000,68.000000,36.180061,418568
2,2000-01-12,72.750000,72.750000,72.750000,72.750000,38.707340,4200
3,2000-02-07,86.787498,86.787498,86.787498,86.787498,46.176140,8000
4,2000-02-14,90.000000,90.000000,90.000000,90.000000,47.885376,2000
...,...,...,...,...,...,...,...
5784,2024-01-19,2753.000000,2753.000000,2716.850098,2735.050049,2735.050049,483007
5785,2024-01-23,2732.149902,2742.750000,2645.000000,2656.000000,2656.000000,102297
5786,2024-01-24,2660.000000,2699.000000,2649.000000,2688.699951,2688.699951,273061
5787,2024-01-25,2684.500000,2725.000000,2670.050049,2710.350098,2710.350098,2411115
5788,2024-01-29,2713.199951,2905.000000,2713.199951,2896.149902,2896.149902,823950

In [6]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [1]:
import yfinance as yf
from pprint import pprint

# Define the stock symbol
symbol = "TATAPOWER.NS"

# Create a Ticker object for the stock
stock_ticker = yf.Ticker(symbol)

# Get company information
company_info = stock_ticker.info

# Pretty-print the company information
pprint(company_info)

{'52WeekChange': 0.922871,
 'SandP52WeekChange': 0.22382951,
 'address1': 'Corporate Center B',
 'address2': '34 Sant Tukaram Road Carnac Bunder',
 'ask': 402.3,
 'auditRisk': 7,
 'averageDailyVolume10Day': 20033143,
 'averageVolume': 21961932,
 'averageVolume10days': 20033143,
 'beta': 0.821,
 'bid': 402.25,
 'boardRisk': 5,
 'bookValue': 98.076,
 'city': 'Mumbai',
 'companyOfficers': [{'age': 61,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Dr. Praveer  Sinha',
                      'title': 'CEO, MD & Director',
                      'totalPay': 92075442,
                      'unexercisedValue': 0,
                      'yearBorn': 1962},
                     {'age': 53,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Sanjeev  Churiwala',
                      'title': 'Chief Financial Officer',
                      'totalPay': 29465452,
                      'unexercisedValue': 0,
                      'yearBorn': 1970},
                     {'age': 50,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Anand  Agarwal B.Com., C.A., C.F.A., C.S.',
                      'title': 'Chief Investor Relations Officer',
                      'unexercisedValue': 0,
                      'yearBorn': 1973},
                     {'age': 59,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Ajay  Kapoor',
                      'title': 'Chief of Legal, Regulatory & Advocacy',
                      'unexercisedValue': 0,
                      'yearBorn': 1964},
                     {'age': 50,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Vispi S. Patel',
                      'title': 'Company Secretary & Compliance Officer',
                      'unexercisedValue': 0,
                      'yearBorn': 1973},
                     {'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Ms. Jyoti Kumar Bansal',
                      'title': 'Chief of Brand & Communications',
                      'unexercisedValue': 0},
                     {'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Himal  Tewari',
                      'title': 'Chief Human Resources Officer and Chief of '
                               'Sustainability & CSR',
                      'unexercisedValue': 0},
                     {'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. A. S. Bapat',
                      'title': 'Head of Corporate Legal',
                      'unexercisedValue': 0},
                     {'age': 57,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Mr. Neeraj  Sharma',
                      'title': 'Chief Engineer',
                      'unexercisedValue': 0,
                      'yearBorn': 1966},
                     {'age': 55,
                      'exercisedValue': 0,
                      'fiscalYear': 2023,
                      'maxAge': 1,
                      'name': 'Prof. Sunil  Sharma',
                      'title': 'Chief of Strategy, Innovation & Business '
                               'Collaboration',
                      'unexercisedValue': 0,
                      'yearBorn': 1968}],
 'compensationAsOfEpochDate': 1703980800,
 'compensationRisk': 9,
 'country': 'India',
 'currency': 'INR',
 'currentPrice': 402.2,
 'currentRatio': 0.73,
 'dayHigh': 403.5,
 'dayLow': 393.1,
 'debtToEquity': 141.897,
 'dividendRate': 2.0,
 'dividendYield': 0.0050999997,
 'earningsGrowth': 0.066,
 'earningsQuarterlyGrowth': 0.069,
 'ebitda': 104211398656,
 'ebitdaMargins': 0.18113,
 'enterpriseToEbitda': 16.668,
 'enterpriseToRevenue': 3.019,
 'enterpriseValue': 1736946221056,
 'exDividendDate': 1686096000,
 'exchange': 'NSI',
 'fiftyDayAverage': 341.358,
 'fiftyTwoWeekHigh': 403.5,
 'fiftyTwoWeekLow': 182.35,
 'financialCurrency': 'INR',
 'firstTradeDateEpochUtc': 820467900,
 'fiveYearAvgDividendYield': 1.54,
 'floatShares': 1685459157,
 'freeCashflow': -925912512,
 'fullTimeEmployees': 21661,
 'gmtOffSetMilliseconds': 19800000,
 'governanceEpochDate': 1706745600,
 'grossMargins': 0.31119,
 'heldPercentInsiders': 0.47174,
 'heldPercentInstitutions': 0.20389,
 'impliedSharesOutstanding': 3203059968,
 'industry': 'Utilities - Independent Power Producers',
 'industryDisp': 'Utilities - Independent Power Producers',
 'industryKey': 'utilities-independent-power-producers',
 'lastDividendDate': 1686096000,
 'lastDividendValue': 2.0,
 'lastFiscalYearEnd': 1680220800,
 'lastSplitDate': 1316995200,
 'lastSplitFactor': '10:1',
 'longBusinessSummary': 'The Tata Power Company Limited engages in the '
                        'generation, transmission, distribution, and trading '
                        'of electricity in India and internationally. It '
                        'operates through Generation, Renewables, Transmission '
                        'and Distribution, and Others segments. The Generation '
                        'segment generates power from hydroelectric and '
                        'thermal sources, such as coal, gas, and oil. The '
                        'Renewables segment generates power from renewable '
                        'energy sources, which include wind and solar. The '
                        'Transmission and Distribution segment transmits and '
                        'distributes electricity; sells power to retail '
                        'customers through distribution network and related '
                        'ancillary services. The Others segment offers project '
                        'management contracts/infrastructure management, and '
                        'property development services, as well as rents oil '
                        'tanks. The company also manufactures and sells solar '
                        'photovoltaic cells and modules, and pumps; operates '
                        'electric vehicle charging stations and coal mines; '
                        'generates electricity through waste heat sources; '
                        'trades in power; and provides engineering, '
                        'procurement, and construction, as well as logistics '
                        'services. In addition, it offers microgrid, rooftop '
                        'solar, and home automation solutions. The company has '
                        'an installed capacity of 14,110 MW. The Tata Power '
                        'Company Limited was founded in 1915 and is based in '
                        'Mumbai, India.',
 'longName': 'The Tata Power Company Limited',
 'marketCap': 1285165809664,
 'maxAge': 86400,
 'messageBoardId': 'finmb_874401',
 'mostRecentQuarter': 1696032000,
 'netIncomeToCommon': 35707699200,
 'nextFiscalYearEnd': 1711843200,
 'open': 396.5,
 'operatingCashflow': 105310003200,
 'operatingMargins': 0.13757,
 'overallRisk': 8,
 'payoutRatio': 0.1792,
 'phone': '91 22 6665 8282',
 'previousClose': 395.15,
 'priceHint': 2,
 'priceToBook': 4.1009016,
 'priceToSalesTrailing12Months': 2.2337425,
 'profitMargins': 0.06206,
 'quickRatio': 0.517,
 'quoteType': 'EQUITY',
 'recommendationKey': 'none',
 'regularMarketDayHigh': 403.5,
 'regularMarketDayLow': 393.1,
 'regularMarketOpen': 396.5,
 'regularMarketPreviousClose': 395.15,
 'regularMarketVolume': 10036009,
 'returnOnAssets': 0.03461,
 'returnOnEquity': 0.122150004,
 'revenueGrowth': 0.122,
 'revenuePerShare': 179.845,
 'sector': 'Utilities',
 'sectorDisp': 'Utilities',
 'sectorKey': 'utilities',
 'shareHolderRightsRisk': 1,
 'sharesOutstanding': 3195340032,
 'shortName': 'TATA POWER CO LTD',
 'symbol': 'TATAPOWER.NS',
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'totalCash': 107734597632,
 'totalCashPerShare': 33.716,
 'totalDebt': 525255114752,
 'totalRevenue': 575341985792,
 'trailingEps': 11.14,
 'trailingPE': 36.10413,
 'trailingPegRatio': None,
 'twoHundredDayAverage': 263.162,
 'underlyingSymbol': 'TATAPOWER.NS',
 'uuid': '92ec8ada-a956-33ab-a01b-394afebf8430',
 'volume': 10036009,
 'website': 'https://www.tatapower.com',
 'zip': '400 009'}

In [2]:
for key, value in company_info.items():
    print(f"{key}: {value}")

address1: Corporate Center B
address2: 34 Sant Tukaram Road Carnac Bunder
city: Mumbai
zip: 400 009
country: India
phone: 91 22 6665 8282
website: https://www.tatapower.com
industry: Utilities - Independent Power Producers
industryKey: utilities-independent-power-producers
industryDisp: Utilities - Independent Power Producers
sector: Utilities
sectorKey: utilities
sectorDisp: Utilities
longBusinessSummary: The Tata Power Company Limited engages in the generation, transmission, distribution, and trading of electricity in India and internationally. It operates through Generation, Renewables, Transmission and Distribution, and Others segments. The Generation segment generates power from hydroelectric and thermal sources, such as coal, gas, and oil. The Renewables segment generates power from renewable energy sources, which include wind and solar. The Transmission and Distribution segment transmits and distributes electricity; sells power to retail customers through distribution network and related ancillary services. The Others segment offers project management contracts/infrastructure management, and property development services, as well as rents oil tanks. The company also manufactures and sells solar photovoltaic cells and modules, and pumps; operates electric vehicle charging stations and coal mines; generates electricity through waste heat sources; trades in power; and provides engineering, procurement, and construction, as well as logistics services. In addition, it offers microgrid, rooftop solar, and home automation solutions. The company has an installed capacity of 14,110 MW. The Tata Power Company Limited was founded in 1915 and is based in Mumbai, India.
fullTimeEmployees: 21661
companyOfficers: [{'maxAge': 1, 'name': 'Dr. Praveer  Sinha', 'age': 61, 'title': 'CEO, MD & Director', 'yearBorn': 1962, 'fiscalYear': 2023, 'totalPay': 92075442, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Sanjeev  Churiwala', 'age': 53, 'title': 'Chief Financial Officer', 'yearBorn': 1970, 'fiscalYear': 2023, 'totalPay': 29465452, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Anand  Agarwal B.Com., C.A., C.F.A., C.S.', 'age': 50, 'title': 'Chief Investor Relations Officer', 'yearBorn': 1973, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay  Kapoor', 'age': 59, 'title': 'Chief of Legal, Regulatory & Advocacy', 'yearBorn': 1964, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Vispi S. Patel', 'age': 50, 'title': 'Company Secretary & Compliance Officer', 'yearBorn': 1973, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Jyoti Kumar Bansal', 'title': 'Chief of Brand & Communications', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Himal  Tewari', 'title': 'Chief Human Resources Officer and Chief of Sustainability & CSR', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. A. S. Bapat', 'title': 'Head of Corporate Legal', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Neeraj  Sharma', 'age': 57, 'title': 'Chief Engineer', 'yearBorn': 1966, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. Sunil  Sharma', 'age': 55, 'title': 'Chief of Strategy, Innovation & Business Collaboration', 'yearBorn': 1968, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}]
auditRisk: 7
boardRisk: 5
compensationRisk: 9
shareHolderRightsRisk: 1
overallRisk: 8
governanceEpochDate: 1706745600
compensationAsOfEpochDate: 1703980800
maxAge: 86400
priceHint: 2
previousClose: 395.15
open: 396.5
dayLow: 393.1
dayHigh: 403.5
regularMarketPreviousClose: 395.15
regularMarketOpen: 396.5
regularMarketDayLow: 393.1
regularMarketDayHigh: 403.5
dividendRate: 2.0
dividendYield: 0.0050999997
exDividendDate: 1686096000
payoutRatio: 0.1792
fiveYearAvgDividendYield: 1.54
beta: 0.821
trailingPE: 36.10413
volume: 10036009
regularMarketVolume: 10036009
averageVolume: 21961932
averageVolume10days: 20033143
averageDailyVolume10Day: 20033143
bid: 402.25
ask: 402.3
marketCap: 1285165809664
fiftyTwoWeekLow: 182.35
fiftyTwoWeekHigh: 403.5
priceToSalesTrailing12Months: 2.2337425
fiftyDayAverage: 341.358
twoHundredDayAverage: 263.162
currency: INR
enterpriseValue: 1736946221056
profitMargins: 0.06206
floatShares: 1685459157
sharesOutstanding: 3195340032
heldPercentInsiders: 0.47174
heldPercentInstitutions: 0.20389
impliedSharesOutstanding: 3203059968
bookValue: 98.076
priceToBook: 4.1009016
lastFiscalYearEnd: 1680220800
nextFiscalYearEnd: 1711843200
mostRecentQuarter: 1696032000
earningsQuarterlyGrowth: 0.069
netIncomeToCommon: 35707699200
trailingEps: 11.14
lastSplitFactor: 10:1
lastSplitDate: 1316995200
enterpriseToRevenue: 3.019
enterpriseToEbitda: 16.668
52WeekChange: 0.922871
SandP52WeekChange: 0.22382951
lastDividendValue: 2.0
lastDividendDate: 1686096000
exchange: NSI
quoteType: EQUITY
symbol: TATAPOWER.NS
underlyingSymbol: TATAPOWER.NS
shortName: TATA POWER CO LTD
longName: The Tata Power Company Limited
firstTradeDateEpochUtc: 820467900
timeZoneFullName: Asia/Kolkata
timeZoneShortName: IST
uuid: 92ec8ada-a956-33ab-a01b-394afebf8430
messageBoardId: finmb_874401
gmtOffSetMilliseconds: 19800000
currentPrice: 402.2
recommendationKey: none
totalCash: 107734597632
totalCashPerShare: 33.716
ebitda: 104211398656
totalDebt: 525255114752
quickRatio: 0.517
currentRatio: 0.73
totalRevenue: 575341985792
debtToEquity: 141.897
revenuePerShare: 179.845
returnOnAssets: 0.03461
returnOnEquity: 0.122150004
freeCashflow: -925912512
operatingCashflow: 105310003200
earningsGrowth: 0.066
revenueGrowth: 0.122
grossMargins: 0.31119
ebitdaMargins: 0.18113
operatingMargins: 0.13757
financialCurrency: INR
trailingPegRatio: None

In [4]:
import yfinance as yf

# Define the stock symbol
symbol = "TATAPOWER.NS"

# Create a Ticker object for the stock
stock_ticker = yf.Ticker(symbol)

# Get company information
company_info = stock_ticker.info

# Extracting required information
general_info = {
    "Company Name": company_info.get("longName", ""),
    "Industry": company_info.get("industry", ""),
    "Website" : company_info.get("website", ""),
    "Total Employees": company_info.get("fullTimeEmployees"),
    'about' : company_info.get("longBusinessSummary", ""),
    "Close Price": company_info.get("previousClose", ""),
    "Market Capitalization": company_info.get("marketCap", ""),
    "52 Weaks low": company_info.get("fiftyTwoWeekLow",""),
    "52 Weaks high": company_info.get("fiftyTwoWeekHigh",""),
    "share in Market": company_info.get("floatShares",""),
    "Total Share in Company": company_info.get("sharesOutstanding",""),
    "Total Cash": company_info.get("totalCash"),
    "ebitda": company_info.get("ebitda",),
    "totalCashPerShare": company_info.get("totalCashPerShare"),
    "totalDebt": company_info.get("totalDebt",""),
    "totalRevenue": company_info.get("totalRevenue",""),
    "debtToEquity": company_info.get("debtToEquity",""),
    "revenuePerShare": company_info.get("revenuePerShare",""),
    "freeCashflow": company_info.get("freeCashflow",""),
    "grossMargins": company_info.get("grossMargins",""),
#     'about Company' : company_info.get("longBusinessSummary", "")
}

company_officers = []
for officer in company_info.get("companyOfficers", []):
    officer_info = {
        "Name": officer.get("name", ""),
        "Age": officer.get("age", ""),
        "Position": officer.get("title", ""),
        "Salary": officer.get("totalPay", "")
    }
    company_officers.append(officer_info)

In [5]:
general_info

{'Company Name': 'The Tata Power Company Limited',
 'Industry': 'Utilities - Independent Power Producers',
 'Website': 'https://www.tatapower.com',
 'about': 'The Tata Power Company Limited engages in the generation, transmission, distribution, and trading of electricity in India and internationally. It operates through Generation, Renewables, Transmission and Distribution, and Others segments. The Generation segment generates power from hydroelectric and thermal sources, such as coal, gas, and oil. The Renewables segment generates power from renewable energy sources, which include wind and solar. The Transmission and Distribution segment transmits and distributes electricity; sells power to retail customers through distribution network and related ancillary services. The Others segment offers project management contracts/infrastructure management, and property development services, as well as rents oil tanks. The company also manufactures and sells solar photovoltaic cells and modules, and pumps; operates electric vehicle charging stations and coal mines; generates electricity through waste heat sources; trades in power; and provides engineering, procurement, and construction, as well as logistics services. In addition, it offers microgrid, rooftop solar, and home automation solutions. The company has an installed capacity of 14,110 MW. The Tata Power Company Limited was founded in 1915 and is based in Mumbai, India.',
 'Close Price': 373.7,
 'Market Capitalization': 1210554646528,
 '52 Weaks low': 182.35,
 '52 Weaks high': 412.9,
 '50 MA': 351.335,
 '200 MA': 267.579,
 'share in Market': 1686859680,
 'Total Share in Company': 3195340032,
 'Total Cash': 107734597632,
 'ebitda': 104966275072,
 'totalCashPerShare': 33.688,
 'totalDebt': 525255114752,
 'totalRevenue': 580560814080,
 'debtToEquity': 141.897,
 'revenuePerShare': 181.721,
 'freeCashflow': '',
 'grossMargins': 0.31069002}